// Contents copied from: theme_base/sass/page/_search.scss
.SearchPage {
	.lia-component-quilt-search-page-thread-filters .lia-common-dropdown-toggle {
		font-size: $theme-type-size-base;
		&:after {
			position: relative;
			top: -3px;
		}
	}
}