#lia-body .lia-content {
	.hc-user-profile {
		display: none;
		top: 15px;
		padding-top: 20px;
		z-index: 300;
		width: 320px;

		&.hc-is-shown {
			display: block;
		}
		&.hc-animate-in {
			animation: 200ms ease CardFadeIn;
		}
		.hc-main-container {
			border-radius: 4px;
			border: none;
			min-height: 202px;
			padding: 20px 25px;
			box-shadow: 0 4px 20px rgba($tp-black, 0.25);

			.hc-user-info {
				float: none;

				> .hc-profile-author {
					font-size: 20px;
					line-height: 1.2;
					margin: 0 0 5px;
					color: $tp-black;
				}
				> .hc-profile-rank {
					display: block;
					font-size: 16px;
					line-height: 1.3125;
					color: $tp-black-400;
				}
			}
			.hc-user-badge-list {
				margin: 20px 0 0;

				.hc-user-badge-display {
					float: left;
					width: 25%;

					> img {
						display: block;
						width: 48px;
						height: 48px;
					}
					&:last-child {
						margin-right: 0;
					}
					//Every badge after the 4th
					&:nth-child(n+5) {
						margin-top: 10px;
					}
				}
			}
			.hc-user-stats {
				margin: 20px 0 0;

				> ul.hc-user-stats-list {
					list-style: none;
					margin: 0;

					> li {
						font-weight: bold;
						color: $tp-black-400;
						//text-transform: uppercase;
						display: block;
						float: left; 
						margin: 0 10px 0 0;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
			&:after,
			&:before {
				bottom: 100%;
				left: 25px;
				border: solid transparent;
				content: "";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
			&:after {
				border-bottom-color: $tp-white;
				border-width: 10px;
				margin-left: -10px;
			}
			&:before {
				border-bottom-color: $tp-gray-300;
				border-width: 11px;
				margin-left: -11px;
			}
		}
	}
	.hc-clearfix {
		&:before,
		&:after {
			display: table;
			content: "";
		}
		&:after {
			clear: both;
		}
	}
}

@keyframes CardFadeIn {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 20%, 0);
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}