.lia-tabs-standard-wrapper {
  .SimpleMessageList {
    .lia-panel-status-banner-note {
      .lia-text {
         color: #fff;
       }
     }
   }
} 
.ViewProfilePage .lia-user-badge-list {
    margin-bottom: 20px
}

/*new Panel css start*/
.lia-body .custom-component-about-me .lia-panel-content .post_wrap {
    padding: 16px 16px;
}
#lia-body.ContestSubmissionPage .lia-component-submission-navigator{
    
    margin-top: 0;
}
html {
    overflow-y: initial;
}
#lia-body .lia-content .dropdown-default-item [aria-hidden=true] {
    display: block;
}
.lia-body{
.lia-panel-message {
  
box-shadow: none;   
border: 0px solid #d1d1d1;
}
.UsersOnlineTaplet .lia-panel-content{
padding: 16px;
}
.panel-main-title{
font-size:$font-size-h2;
line-height:20px;
margin-bottom:25px;
color:$text-color;
font-family: 'SegoeUI-Semibold', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
}


.lia-body {
.FeaturedThreadsTaplet .lia-featured-threads-header{
padding: 11px 16px;
font-weight:bold;
border-bottom: 1px solid $divider-border;
}
.lia-message-view-display{
padding:20px 16px;
box-shadow: none;
border-bottom: 1px solid $divider-border;
border-radius: 0;

}
.lia-panel .t-data-grid{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
margin-top: 0;

}
#lia-body .lia-content .lia-panel-content .lia-list-wide{
margin-left: 0;
}
.lia-quilt-column-engagement-content .lia-panel, .lia-quilt-column-side-content {
.lia-panel, 
.FeaturedThreadsTaplet
{
    background-color: $panel-bg;
    border: 1px solid $panel-border;
    border-radius: $panel-radius;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    
    .lia-panel-heading-bar{
    padding: 11px 16px;
    font-size:15px;
    color:$panel-title-color;
    line-height:19px;
    }
}
}
}
.lia-body {
    .lia-panel .lia-view-all .lia-link-navigation{
     font-family: 'SegoeUI', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     }
    .lia-panel .lia-view-all .lia-link-navigation:before
     {
     content: "See all";
     color: $brand-primary;
     font-family: 'SegoeUI', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     }
}
.lia-body {
.lia-panel-section {
    margin-left:0px;
    margin-right: 0px;
}
.lia-nav-list {
  
    margin-left: 0;
    margin-right: 0;
}
.lia-browser-category-heading .category-title {
  font-size:$li-font-size-subject;
}
.board-title .lia-link-navigation {
  font-size: 15px;
}
}
.lia-panel-section{
margin-left: 0;
    margin-right: 0;
}
.lia-body .lia-component-common-widget-page-title > .lia-link-navigation{
font-size:26px;
}
/*panel css end */


// Contents copied from: theme_base/sass/common/_panels.scss
%panel-border {
	@include box-shadow(0 -1px 1px 0 rgba(0,0,0,0.02), 0 1px 2px 0 rgba(0,0,0,0.16));
	//border-radius: $border-radius-large;
	margin-bottom: 40px;
}

/* common: panels */
.lia-body {
.lia-panel,.lia-component-message-list, .lia-component-articles
 {
    background-color: $panel-bg;
    border: 1px solid $panel-border;
    border-radius: $panel-radius;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
    .lia-panel-content{
    padding:16px 16px;
    }  
    .lia-panel-heading-bar{
    padding: 11px 16px;
    font-size:$panel-title;
    color:$panel-title-color;
    line-height:$panel-title-line-height;
    }
    table thead {
    border-bottom: 1px;
    }

.lia-list-wide {
    border-bottom:0px;
    border-top: 0px;
}
}
}
.lia-body .custom-widget-boards-browser-list .lia-panel {
    border: 0;
    box-sizing: none;
    box-shadow: none;
    border-radius: 0px;
    
   .lia-panel-content{
    padding:0px;
    }  
    .lia-panel-heading-bar{
    padding:0px 0px;
    
    }
}


.lia-body .lia-panel {
    // panel css here Start
    .lia-browser-category-heading{
        background: transparent;
        font-size:$li-font-size-subject;
    }
    .category-title{
       color: $panel-title-color;
       font-family: 'SegoeUI-Bold', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
       padding: 1px;
     }
    // panel css here End

    .lia-panel-heading-bar {
        // your css here
         padding: 11px 16px;
         font-size:$panel-title;
         color:$panel-title-color;
         line-height:$panel-title-line-height;
         border-bottom: 1px solid $divider-border;
        
        .lia-panel-heading-bar-title {
            //font-size: $theme-type-size-xxxlarge + 6;
            //font-weight: $theme-type-weight-base;
            font-size:15px;
            line-height: 19px;
           font-family: 'SegoeUI-Bold', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            @include media(phone) {
                //font-size: $theme-type-size-xxlarge;    
                line-height: 19px;
            }
        }
    }
    .lia-panel-content {
        // your css here
        .lia-view-all {
            // your css here            
        }
    }
    
    /* sidebar - engagement panels */
    .lia-quilt-column-main-content-right &,
    .lia-quilt-column-side-content & {
    	@extend %panel-border;
    	//background-color: $tp-white;

    	&.CustomContent {
			//background-color: $theme-color-solution-background;
			.lia-panel-heading-bar {
				//background-color: $theme-color-solution-background;
			}
		}

        .lia-panel-heading-bar {
            //padding: $theme-space-medium $theme-space-base;

            .lia-panel-heading-bar-title {
                //font-size: $theme-type-size-xxlarge;    
                line-height: 30px;
            }
        }
        .lia-panel-content {
            //padding: 0 $theme-space-base $theme-space-medium;

            .lia-view-all {
                //margin-top: $theme-space-small + $theme-space-xsmall;        
            }
        }
    }

    &.custom-resources-links {
        //background: $theme-color-background-secondary;
        .lia-panel-heading-bar{
            //background:$theme-color-background-secondary;
        }
        .lia-panel-content{
            .lia-list-standard {
                li {
                    padding:20px 0;
                    //border-bottom:1px solid $theme-color-grey-border;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                    .lia-link-navigation {
                        //color:$text-color;
                    }
                }
            }
        }
    }

    .lia-quilt-row-engagement-row & {
        // your css here
    }

    .t-data-grid {
    }
}

#lia-body {
 .lia-component-forums-widget-board-browser-list .lia-browser-category-heading {
    padding-left: 36px;
    margin-right: 0;
    margin-left: 0;
  }
.lia-message-view-display{
padding:20px 16px;
box-shadow: none;
border-radius: 0;
margin-bottom: 0;
background: transparent;
border: 0;
border-bottom: 1px solid $divider-border;
}
.ActionLinksTaplet .lia-panel-content{
padding: 16px 0;
}
.ActionLinksTaplet .lia-panel-content li{
margin-bottom:0px;
}
}
#lia-body 
{
.lia-panel-content .UsersOnlineTaplet, .lia-panel-content .TagCloudTaplet{
    padding: 16px;
}
.MessageListTaplet .lia-panel-content {
    padding: 0;
}
.KudoedAuthorsLeaderboardTaplet .lia-panel-content {
    padding: 0;
    table{ margin: 0px 0;}
}
.TaggerLeaderboardTaplet .lia-panel-content {
    padding: 0;
    table{ margin: 0px 0;}
}
.MessageList table{
margin:0px;
}

}
.lia-body{
.lia-panel .lia-panel-heading-bar-title, .lia-spoiler-container .lia-spoiler-link, .ForgotPasswordPage .lia-page .lia-fieldset-title, .SwitchUserPage .lia-page .lia-fieldset-title, .UserLoginPage .lia-page .lia-fieldset-title, .lia-component-tkb-widget-search-bar .lia-form-label, .lia-component-forums-widget-board-browser-list .board-icon, .lia-component-forums-widget-board-browser-list .board-title, .lia-message-tkb h2, .lia-section-header .lia-section-header-title, .lia-user-leaderboard-rank, .lia-body .ui-dialog-title, .lia-messages-list-title, .TkbPage .lia-featured-threads-entry-header .lia-featured-threads-entry-title{
font-size:18px;

}
}
/* Featured topics Start */
#lia-body {
  .lia-quilt-column-right {
    .FeaturedThreadsTaplet {
      .lia-component-author {
         display: none; //users display none for all the views (mobile, tablet, desktop)
     }
  }
 }
}
/* Featured topics End */